<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User <%= @user.name %> shared <%= @type_of_content %> with you on WyshMe!</h1>

    <p>
      <% if @user_message.present? %>
        <b>Message:</b> <%= @user_message %>
      <% else %>
        No message given.
      <% end %>
    </p>

    <p>
      Check the <%= @type_of_content.downcase %> on <a href="<%= @url %>">WyshMe</a>.
    </p>
  </body>
</html>
