<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @recipients.first %>,</p>

    <p>
      Your friend <%= @user.email %> has shared <%= @type_of_content %> with you on WyshMe!
    </p>

    <p>
      <% if @user_message.present? %>
        <%= @user_message %>
      <% else %>
        No message given.
      <% end %>
    </p>

    <p>
      What's WyshMe? It's a way you can find the perfect gift to give your
      friends and family, making you the best ever gifter because you know
      it's what your friends and family want. All with just a few clicks,
      no hassle at all.
    </p>

    <p>
      Be an awesome gifter by clicking
      <a href="<%= @url %>"><%= @url %></a>
    </p>

    <p>
      Thanks,<br>
      Your friends at WyshMe
    </p>

    <p>----</p>
    <p>
      WyshMe -- taking the guesswork out of gifting, one click at a time
    </p>

  </body>
</html>
